<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Book - BookNest</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/admin.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <html xmlns:th="http://www.thymeleaf.org">
</head>
<body>
    <div class="container">
        <div class="row g-0 content-wrapper rounded-1">
            <!-- Left Section -->
            <div class="p-5 form-section position-relative">
                <img th:src="@{/assets/BookNestFix.png}" class="logo" alt="Logo">
                <a class="btn-close" aria-label="Close" th:href="@{/admin/}"></a>
                <h3 class="text-center fw-bold mb-4">Add Book</h3>
                <form th:action="@{/save}" th:object="${book}" method="post">
                    <input type="hidden" id="id" th:field="*{id}">
                    <div class="mb-3">
                        <label for="name" class="form-label">Title</label>
                        <input type="text" class="form-control rounded-1" id="name" th:field="*{name}" placeholder="Title" required>
                    </div>
                    <div class="mb-3">
                        <label for="author" class="form-label">Author</label>
                        <input type="text" class="form-control rounded-1" id="author" th:field="*{author}" placeholder="Author" required>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <label for="genre" class="form-label">Genre</label>
                            <input type="text" class="form-control rounded-1" id="genre" th:field="*{genre}" placeholder="e.g. Fiction, Mystery, ..." required>
                            <small>Separate each genre with a comma (,)</small>
                        </div>
                        <div class="col-md-6">
                            <label for="page-number" class="form-label">Page Number</label>
                            <input type="number" class="form-control rounded-1" id="page-number" th:field="*{totalPage}" placeholder="e.g. 255" min="1" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <label for="date-published" class="form-label">Date Published</label>
                            <input type="date" class="form-control rounded-1" id="date-published" th:field="*{dateReleased}" required>
                        </div>
                        <div class="col-md-6">
                            <label for="rating" class="form-label">Rating</label>
                            <input type="number" class="form-control rounded-1" id="rating" th:field="*{rate}" placeholder="e.g. 3.45" step="0.01" min="0" max="5" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control rounded-1" id="description" th:field="*{description}" rows="4" placeholder="Write the book description here..." required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="cover-link" class="form-label">Book Cover</label>
                        <input type="text" class="form-control rounded-1" id="cover-link" th:field="*{cover}" placeholder="e.g. https://example.com/" required>
                    </div> 
                    <div id="imagePreviewContainer">
                        <img id="coverPreview" 
                            th:src="${book.cover}" 
                            alt="Cover Image Preview"
                            class="img-fluid"
                            style="height: 200px; object-fit: cover;"
                            th:style="'display:' + (${book.cover != null} ? 'block' : 'none')"
                        >
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn add-btn mt-4" th:text="${book.id == null ? 'Add' : 'Edit'}"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- JavaScript untuk Validasi -->
    <script>
        $(document).ready(function () {
            $('#cover-link').on('input', function() {
                var coverUrl = $(this).val();
                var preview = $('#coverPreview');
                if (coverUrl) {
                    preview.attr('src', coverUrl);
                    preview.show(); 
                } else {
                    preview.hide();
                }
            });
        });

        document.addEventListener("DOMContentLoaded", () => {
            const form = document.querySelector("form");

            const coverLinkError = document.createElement("small");

            const coverLinkInput = document.getElementById("cover-link");

            coverLinkError.className = "text-danger";

            // Validasi Link Cover
            coverLinkInput.addEventListener("input", () => {
                const coverLinkInput = document.getElementById("cover-link");
                const value = coverLinkInput.value;
                // const isValid = /^(https?:\/\/)?([\w-]+(\.[\w-]+)+)(\/[\w-]*)*(\?[\w-=&]*)?$/.test(value);
                const isValid = /^(https?:\/\/)([^\s]+)$/.test(value);

                if (!isValid) {
                    coverLinkError.textContent = "Link must have valid format (ex.: https://example.com/image).";
                    coverLinkInput.parentElement.appendChild(coverLinkError);
                } else {
                    coverLinkError.textContent = "";
                }
            });

            // Validasi sebelum form dikirim
            form.addEventListener("submit", (e) => {
                const coverLinkInput = document.getElementById("cover-link");

                e.preventDefault();

                // const isLinkValid = /^(https?:\/\/)?([\w-]+(\.[\w-]+)+)(\/[\w-]*)*(\?[\w-=&]*)?$/.test(coverLinkInput.value);
                const isLinkValid = /^(https?:\/\/)([^\s]+)$/.test(coverLinkInput.value);

                if (!isLinkValid) {
                    alert("Link masih invalid!");
                    return; 
                }

                const id = document.getElementById("id").value;
                const name = document.getElementById("name").value;
                const author = document.getElementById("author").value;
                const genre = document.getElementById("genre").value;
                const dateReleased = document.getElementById("date-published").value;
                const totalPage = document.getElementById("page-number").value;
                const description = document.getElementById("description").value;
                const rate = document.getElementById("rating").value;
                const coverLink = coverLinkInput.value;

                const bookData = {
                    id: id,
                    name: name,
                    author: author,
                    genre: genre,
                    dateReleased: dateReleased, 
                    totalPage: parseInt(totalPage),
                    description: description,
                    rate: parseFloat(rate), 
                    cover: coverLink,
                };

                fetch("/books/create", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(bookData),
                })
                .then((response) => {
                    console.log(response)
                    if (response.ok) {
                        window.location.href = "/admin/";
                    } else {
                        alert("Terjadi kesalahan pada server");
                    }
                })
                .catch((error) => {
                    alert("Terjadi kesalahan");
                });
            });
        });
    </script>
</body>
</html>
